:root {
  /* colors */
  /* ### Primary */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  /* ### Neutral */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  /* Font families */
  --font-family-base: 'Fraunces', serif; /* per titoli */
  --font-family-second: 'Montserrat'; /* per testi */
  /* Font weight */
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box; 
  /* include padding e border nel calcolo totale della larghezza/altezza degli elementi */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  min-height: 100vh;
}

.card {
  background-color: var(--cream);
}