:root {
  /* colors */
  /* ### Primary */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  /* ### Neutral */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  /* Font families */
  --font-family-base: 'Fraunces', serif; /* per titoli */
  --font-family-second: 'Montserrat'; /* per testi */
  /* Font weight */
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box; 
  /* include padding e border nel calcolo totale della larghezza/altezza degli elementi */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  min-height: 100vh;
}

.card {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 50px 0;
  padding: 16px;
  text-align: left;
  width: 100%;
  max-width: 720px;
  min-height: 320px;
  border-radius: 8px;
}

.image_Chanel {
  width: 100%;
  max-width: 325px;
  padding: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: auto;
}

.perfume {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-medium);
  color: var(--grey);
}

.title {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  color: var(--black);
}

.description {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-medium);
  color: var(--grey);
}

.sale {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  color: var(--green-500);
  font-size: 2rem;
}

.fullprice {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-medium);
  color: var(--grey);
  text-decoration: line-through;
  font-size: 1rem;
  margin-left: 16px;
}

.buyit {
  color: var(--green-500);
  border-radius: 6px;
  border-color: var(--green-500);
  text-decoration-color: var(--white);
}